.stretcher-div {
    font-family: "Times New Roman", Georgia, Serif;
    background-color: #e1e1e1;
    color: #333;
    border: 7px solid steelblue;
    padding: 0px 50px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-left: 7px solid #fff;
    border-right: 7px solid #fff;
    overflow: hidden;
}

.stretcher-container {
    
    height: 164px;
    width: 620px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    
}

.stretcher-div::before {
    width: 20px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    content: '';
    background-color: #fff;
    position: absolute;
    border-radius: 0% 50% 50% 0%;
}

.stretcher-div::after {
    width: 20px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    content: '';
    background-color: #fff;
    position: absolute;
    border-radius: 50% 0% 0% 50%;
}